body{
    padding: 0px;
    margin: 0px;
}
header{
    padding: 1%;
}
/*Partie nav*/
nav{
   background-color: white;
}
nav ul{
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}
nav ul li{
    display: inline;
    padding: 1%;
    color: black;
}
nav li a{
    text-decoration: none;
    color: black;
}

/*section sect*/
#sect{
    background-image: url(Images/bakeli\ fond.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;

}
.vid{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.idv1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 100px;
}
.gim1{
    display: block;
    border-radius: 15px;
}
.idv2{
    background-color: rgb(97, 95, 95);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    padding: 2%;
    color: white;
}
.idv3{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
/*section sect*/

/*section sect1*/
#sect1{
    margin: 0px;
    padding: 0px;
}
.AZ{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    padding: 1%;
}
.I{
    display: flex;
    padding: 1%;
}
.ZA{
   width: max-content;
   text-align: center;
   padding: 2%;
}
.E{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/*#sect2*/
#sect2{
    background-color: rgb(224, 214, 214);
    margin: 0px;
    padding: 0px;
}
#M{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.B{
    text-align: center;
    margin-bottom: 5%;
}
.B h1{
    font-weight: bold;
}
.C{
    display: block;
}
.C ul{
    text-align: center;
}
.C ul li{
    display: inline;
    font-weight:200px;
    font-size: 20px;
    padding: 3%;
}

/*partie #sect3*/
#sect3{
    margin: 0px;
    padding: 0px;
}
#tool{
    margin: 0px;
    padding: 0px;
}
.Z{
    display: flex;
    flex-wrap: wrap;
}
.loot{
    display: block;
    width: 25%;
    height: 350px;
}

/*partie sect4*/
#sect4{
    padding: 0px;
    margin: 0px;
}
.fort{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
}
.S{
    text-align: center;
}
.faible{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: flex;
    width: 90%;
}
.AA{
    width: 70%;
}
.BB{
    display: block;
    float: right;
    width: 70%;
}
.H{
    width: 50%;
}
.AT{
    margin-top: 10%;
    margin-bottom: 10%;
}
.AV{
    margin-top: 10%;
    margin-bottom: 10%;
}
.progress1{
    width: 100%;
    height: 8px;
    background-color: rgb(239, 248, 227);
    border-radius: 5px;
    overflow: hidden;
}
.progress-fill1{
    width: 100%;
    height: 100%;
    background-color: rgb(156, 180, 124);
    border-radius: 5px;
}
.num{
    float: right;
}
.progress2{
    width: 100%;
    height: 8px;
    background-color: rgb(239, 248, 227);
    border-radius: 5px;
    overflow: hidden;
}
.progress-fill2{
    width: 80%;
    height: 100%;
    background-color: rgb(156, 180, 124);
    border-radius: 5px;
}
.progress3{
    width: 100%;
    height: 8px;
    background-color: rgb(239, 248, 227);
    border-radius: 5px;
    overflow: hidden;
}
.progress-fill3{
    width: 90%;
    height: 100%;
    background-color: rgb(156, 180, 124);
    border-radius: 5px;
}
.progress4{
    width: 100%;
    height: 8px;
    background-color: rgb(239, 248, 227);
    border-radius: 5px;
    overflow: hidden;
}
.progress-fill4{
    width: 70%;
    height: 100%;
    background-color: rgb(156, 180, 124);
    border-radius: 5px;
}

/*partie sect5*/
#sect5{
    background-color: rgb(181, 236, 181);
    padding: 1%;
}
#ZER{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5%;
}
.REZ{
    display: block;
    width: 23%;
}
.IM{
    height: 250px;
}
.Nom{
    display: block;
    border: 1px solid white;
    background-color: white;
    text-align: center;
}

/*partie sect6*/
#sect6{
    margin: 0px;
    padding: 0px;
}
#last{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
#X2{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 5%;
}
#Y2{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 5%;
    width: 60%;
}
#Z2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 4%;
    width: 50%;
}
/*partie Footer*/
footer{
    background-color: rgb(201, 190, 190);
    padding: 3%;
}
.H2{
    text-align: center;
}
h4{
    text-align: center;
}
#foot{
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.Foo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 70%;
}
.Fo{
    padding: 5%;
    width: 25%;
}
@media  screen and (max-width:750px) {
    body{
        padding: 0px;
        margin: 0px;
    }
    header{
        padding: 0%;
        margin: 0%;
    }
    /*Partie nav*/
    nav{
       background-color: white;
       display: block;
    }
    nav ul{
        list-style-type: none;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul li{
        display: inline;
        padding: 1%;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
    nav li a{
        text-decoration: none;
        color: black;
    }
    
    /*section sect*/
    #sect{
        background-image: url(Images/bakeli\ fond.jpeg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
    
    }
    .vid{
        display: block;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .idv1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        width: 100px;
    }
    .gim1{
        display: block;
        border-radius: 15px;
    }
    .idv2{
        background-color: rgb(97, 95, 95);
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        padding: 2%;
        color: white;
    }
    .idv3{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
    }
    /*section sect*/
    
    /*section sect1*/
    #sect1{
        margin: 0px;
        padding: 0px;
    }
    .AZ{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        display: block;
        padding: 1%;
    }
    .I{
        display: block;
    }
    .ZA{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    .E{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /*#sect2*/
    #sect2{
        background-color: rgb(202, 189, 189);
        margin: 0px;
        padding: 0px;
    }
    #M{
        display: block;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .B{
        background-color: rgb(102, 96, 96);
        text-align: center;
        margin-bottom: 5%;
    }
    .B h1{
        font-weight: bold;
    }
    .C{
        padding: 0%;
    }
    .C ul{
        display: inline;
    }
    .C ul li{
        display: block;
        font-weight: bold;
        font-size: 15px;
    }
    
    /*partie #sect3*/
    #sect3{
        margin: 0px;
        padding: 0px;
    }
    #tool{
        margin: 0px;
        padding: 0px;
    }
    .Z{
        display: flex;
        flex-wrap: wrap;
    }
    .loot{
        display: block;
        width: 25%;
        height: 150px;
    }
    
    /*partie sect4*/
    #sect4{
        padding: 0px;
        margin: 0px;
    }
    .fort{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 40%;
    }
    .S{
        text-align: center;
    }
    .faible{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
        width: 90%;
    }
    .AA{
        width: 70%;
    }
    .BB{
        display: block;
        float: right;
        width: 70%;
    }
    .H{
        width: 50%;
    }
    .AT{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .AV{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .progress1{
        width: 100%;
        height: 8px;
        background-color: rgb(239, 248, 227);
        border-radius: 5px;
        overflow: hidden;
    }
    .progress-fill1{
        width: 100%;
        height: 100%;
        background-color: rgb(156, 180, 124);
        border-radius: 5px;
    }
    .num{
        float: right;
    }
    .progress2{
        width: 100%;
        height: 8px;
        background-color: rgb(239, 248, 227);
        border-radius: 5px;
        overflow: hidden;
    }
    .progress-fill2{
        width: 80%;
        height: 100%;
        background-color: rgb(156, 180, 124);
        border-radius: 5px;
    }
    .progress3{
        width: 100%;
        height: 8px;
        background-color: rgb(239, 248, 227);
        border-radius: 5px;
        overflow: hidden;
    }
    .progress-fill3{
        width: 90%;
        height: 100%;
        background-color: rgb(156, 180, 124);
        border-radius: 5px;
    }
    .progress4{
        width: 100%;
        height: 8px;
        background-color: rgb(239, 248, 227);
        border-radius: 5px;
        overflow: hidden;
    }
    .progress-fill4{
        width: 70%;
        height: 100%;
        background-color: rgb(156, 180, 124);
        border-radius: 5px;
    }
    
    /*partie sect5*/
    #sect5{
        background-color: rgb(181, 236, 181);
        padding: 1%;
    }
    #ZER{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-bottom: 5%;
    }
    .REZ{
        display: block;
        width: 23%;
    }
    .IM{
        height: 250px;
    }
    .Nom{
        display: block;
        border: 1px solid white;
        background-color: white;
        text-align: center;
    }
    
    /*partie sect6*/
    #sect6{
        margin: 0px;
        padding: 0px;
    }
    #last{
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 1%;
    }
    #X2{
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 5%;
    }
    #Y2{
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        margin-bottom: 5%;
        width: 60%;
    }
    #Z2{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 4%;
        width: 50%;
    }
    /*partie Footer*/
    footer{
        background-color: rgb(201, 190, 190);
        padding: 3%;
    }
    .H2{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    #foot{
        padding: 2%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Foo{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 70%;
    }
    .Fo{
        padding: 5%;
        width: 25%;
    }
}